<!-- Modal for scrape confirmation -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <p>Scrape Complete!</p>
      </div>
      <div class="modal-footer">
    
        <button type="button" id="closemodal" class="btn btn-primary">Okay!</button>
      </div>
    </div>
  </div>
</div>