body { 
  background-color: white;        
}

.articles { 
  padding:15px 50px;
}

#bodyinput {
  width:100%;
}
   
.navbar-brand {
  font-size:500px;
}

.nav-item {
  padding: 20px;
}

.jumbotron {
  background-image: url("images/advertisements-batch-blur-518543.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px #000000;
}

.deletenotebutton {
  padding:20px;
}

.display-4 {
  font-size: 100px;
  font-weight: bold; 
}

.lead {
  font-weight: 400;
  font-size: 30px;
}
      